/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainImg{
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 25px;
}
.thumbnails{
    display: flex;
    gap: 10px;
}
.thumbnails img{
    width: 100px;
    height: 75px;
    cursor: pointer;
} */


/* Reset & full screen setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

/* Panda face */
.face {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  background: white;
  border-radius: 50%;
  border: 10px solid black;
}

/* Ears */
.left-ear,
.right-ear {
  position: absolute;
  width: 25%;
  height: 25%;
  background: black;
  border-radius: 50%;
  top: -10%;
}

.left-ear {
  left: -5%;
  background: #0e0f10; /* accent pink */
}

.right-ear {
  right: -5%;
  background: #0a0a0a; /* accent pink */
}

/* Eyes */
.eye {
  position: absolute;
  width: 18%;
  height: 22%;
  background: black;
  border-radius: 50%;
  top: 30%;
}

.eye:nth-child(3) {
  left: 22%;
}

.eye:nth-child(4) {
  right: 22%;
}

/* Eye white shine */
.eye::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 30%;
  background: white;
  border-radius: 50%;
  top: 20%;
  left: 20%;
}

/* Nose */
.nose {
  position: absolute;
  width: 12%;
  height: 10%;
  background: black;
  border-radius: 50%;
  top: 55%;
  left: 44%;
}

/* Smiling mouth */
.mouth {
  position: absolute;
  width: 28%;
  height: 18%;
  top: 62%;
  left: 36%;
  border-bottom: 8px solid #ff69b4; /* pink smile */
  border-radius: 0 0 120px 120px;
}

/* small cheek curves for extra smile */
.mouth::before,
.mouth::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 40%;
  border-bottom: 6px solid #ff69b4;
  border-radius: 0 0 50px 50px;
  bottom: 0;
}

.mouth::before {
  left: -15%;
}

.mouth::after {
  right: -15%;
}

