.container{

    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: rgb(215, 90, 90);
}

/* for desktop */
.container{
    background-color: aquamarine;
}

/* for mobile phones */

@media(max-width:500px){
    .container{
        background-color: black;
        font-size: 20px;
    }
}

    @media(min-width:501px) and (max-width:800px){
        .container{

            background-color: blue;
            color: bisque;
            font-size: 15px;
        }
    }